BASE_URL=https://api.thecatapi.com/v1/
HOSTNAME=api.thecatapi.com
API_KEY=live_WOeCtjnEshcN50y5w83QjOKUsQvyE5UUlTLMFLCEjoZMQMiLbe281ADaIQnUlex9
PIN=sha256/ymy7ImKVIo+vDT1KASNoWs175IJXUFbQmC5PozI3bVk=
PASSPHRASE=PurrWhiskersTailMeowScratchMittensFeline
